.book .book-header h1 {
  opacity: 1;
  text-align: left;
}

#header .title {
  font-family: din-2014, sans-serif;
  font-style: normal;
  font-weight: 200;  
  margin-bottom: 0em;
}
#header h4.author {
  margin: 0;
  color: #666;
}
#header h4.author em {
  font-style: normal;
}


@import url("https://use.typekit.net/lgk4mzk.css");


h1 {
font-family: din-2014, sans-serif;
font-style: normal;
font-weight: 200;
}

h2 {
font-family: din-2014, sans-serif;
font-style: normal;
font-weight: 200;
}

h3 {
font-family: din-2014, sans-serif;
font-style: normal;
font-weight: 200;
}

h4 {
font-family: din-2014, sans-serif;
font-style: normal;
font-weight: 200;
}

ul {
font-family: din-2014, sans-serif;
font-weight: 400;
font-style: normal;
}
